# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/maintenance-mode-with-timer
!web/app/plugins/wordpress-importer
!web/app/plugins/facetwp_loukia
!web/app/plugins/facetwp
!web/app/plugins/facetwp-color
!web/app/plugins/facetwp-i18n
!web/app/plugins/gravityforms
!web/app/plugins/regenerate-thumbnails
!web/app/plugins/soil
!web/app/plugins/woo-payment-gateway-for-vivapayments
!web/app/plugins/woocommerce
!web/app/plugins/woocommerce-additional-variation-images
!web/app/plugins/woocommerce-variation-swatches-and-photos
!web/app/plugins/advanced-custom-fields-pro
!web/app/plugins/vivawallet-woocommerce-gateway
!web/app/plugins/viva-wallet-for-woocommerce
!web/app/plugins/sitepress-multilingual-cms
!web/app/plugins/woocommerce-multilingual
!web/app/plugins/wpml-translation-management
!web/app/plugins/wpml-string-translation
!web/app/plugins/wp-mail-smtp
!web/app/plugins/dhl-for-woocommerce
!web/app/plugins/flexible-shipping
!web/app/plugins/flexible-shipping-dhl-express
!web/app/plugins/facebook-for-woocommerce
!web/app/plugins/webappick-product-feed-for-woocommerce
!web/app/plugins/wp-all-export
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
